.contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 100px;
  align-items: center;
  height: 700px;
}

.contacto-container {
  height: 200px;
  display: flex;
  flex-direction: column;
}

.map {
  width: 500px;
}

.contacto-title {
  color: black;
  font-size: 41px;
  font-family: Poppins;
  text-align: center;
  margin: 0;
}

.contacto-subtitle {
  color: #890000;
  font-size: 41px;
  font-family: Poppins;
  text-align: center;
  margin: 0;
}

.contacto-centro {
  color: black;
  font-size: 18px;
  font-weight: 600;
  font-family: Poppins;
  text-align: center;
}

.contacto-address {
  color: black;
  font-size: 14px;
  font-weight: 400;
  font-family: Poppins;
  text-align: center;
}

@media (max-width: 480px) {
  .map {
    height: 300px;
    margin-top: 150px;
  }
  .contacto {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
  }
}
