.hero-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url("../images/FondoHero.png");
  background-size: cover;
  background-position: center center;
  display: flex;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
}

.hero-section h1 {
  color: white;
  font-size: 60px;
  font-family: Poppins;
  text-align: center;
  margin: 20px 0;
}

.hero-section img {
  width: 75px;
  height: 75px;
}

.hero-section h3 {
  color: white;
  font-size: 32px;
  font-family: Poppins;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.hero-section button {
  background-color: #6d0000;
  font-size: 15px;
  color: white;
  padding: 15px 60px;
  border: none;
  border-radius: 20px;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.hero-section button:hover {
  transform: translateY(-2px);
  transform: scale(1.05);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
  border: 1px white solid;
}

@media (max-width: 480px) {
  .hero-container {
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    padding: 60px;
  }
}
